.FlashCardBox_Center {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40%;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 1px solid rgba(21, 37, 21, 0.212);
    border-radius: 3px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 1px 5px rgba(0,0,0,0.13);
}

.FCB_TopButtons, .FCB_BotButtons {
    display: flex;
    box-shadow: 0 1px 5px rgba(0,0,0,0.19);
    justify-content: flex-start;
}
/* 
.FCB_TopButtons{
    justify-content: flex-start;
}
.FCB_BotButtons{
    justify-content: space-between;
} */